<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Liikunta-app</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Liikunta-app</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Etusivu
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Etsi laji
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Oma sivu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row align-items-center mt-5 card-body mb-1">
            <h1 class="font-weight-light">Polttopallo</h1>
            <p>Polttopallossa heitetään palloa. Se on kivaa.</p>
            <div class="col-lg-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kNmuQoJVI5g"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Tarvitset:</h3>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Kentän, pihan tai liikuntasalin</li>
                            <li class="list-group-item">Vähintään 4 ihmistä</li>
                            <li class="list-group-item">Pallon</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Säännöt</h3>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Heitä pallolla muita</li>
                            <li class="list-group-item">Et saa liikkua pallo kädessä</li>
                            <li class="list-group-item">Jos sinua heitetään pallolla, putoat pelistä</li>
                            <li class="list-group-item">Viimeinen pelaaja voittaa</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">Näytä kaikki säännöt</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="py-3 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; SCI-projektikurssi kevät 2019</p>
        </div>
    </footer>
</body>

</html>